@model WebPasswordManager.Models.PasswordAccount
@{
    
}


<div>
    @using (Html.BeginForm("SaveAccount", "PasswordAccount"))
    {
        @Html.ValidationSummary() <br />
        @Html.LabelFor(x => x.AccountName)
        @Html.TextBoxFor(x => x.AccountName)<br />
        @Html.LabelFor(x => x.Url)
        @Html.TextBoxFor(x => x.Url) <br />
        @Html.LabelFor(x => x.UserName)
        @Html.TextBoxFor(x => x.UserName)<br />
        @Html.LabelFor(x => x.Password)
        @Html.TextBoxFor(x => x.Password) <br />
        @Html.LabelFor(x => x.AccountOwner)
        @Html.TextBoxFor(x => x.AccountOwner) <br />
        <input id="SubmitButton" type="submit" value="Submit" />
    }
</div>
@Html.ActionLink("Back", "Index", "PasswordAccount")

