@model WebPasswordManager.Models.PasswordAccount
@{

}

<div>
    <dl>
        <dt>Account Name:  @Model.AccountName </dt>
        <dt>Url: @Model.Url</dt>
        <dt>User Name: @Model.UserName</dt>
        <dt>Password: @Model.Password</dt>
        <dt>Account Owner: @Model.AccountOwner</dt>
    </dl>
    @Html.ActionLink("Back", "Index", "PasswordAccount", null, new { @class = "btn btn-default" })
</div>
