@model WebPasswordManager.Models.PasswordAccounts
@{

}

@Html.ActionLink("Add Account", "AddAccount", "PasswordAccount")<br />
<div>
    @foreach (var account in Model.Accounts)
    {

        @account.AccountName <span> </span> @Html.ActionLink("View Account", "GetViewAccountById", "PasswordAccount", new { id = account.Id }, null)            <span> </span> @Html.ActionLink("Edit Account", "EditAccount", "PasswordAccount", new { id = account.Id }, null)
        <span> </span> @Html.ActionLink("Delete Account", "RemoveAccount", "PasswordAccount", new { id = account.Id }, null)<br />
    }
</div>

